<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistema de Agendamento{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Agendamento</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropDown"
            aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Alternar Navegação">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agendar' %}">Agendar</a>
                </li>
                <li class="nav-item"> <!--ALTERAÇÃO NO BOTÃO DE LOGOUT ---- PARA PESSOAS QUE ESTÃO NO GITHUB CODESPACES-->
                    <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: inline">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Sair</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Entrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>